.DS_Store
*/.DS_Store

.venv
.ipynb_checkpoints
.ipynb_checkpoints/
best_model_SavedModel_format/*
data/insurance.csv
model.png
pizza_steak.zip
pizza_steak/*
10_food_classes_all_data.zip
10_food_classes_all_data/*
__MACOSX/*
03-*.jpeg
saved_model11/*
10_food_classes_10_percent.zip
10_food_classes_10_percent/*
tensorflow_hub/*
10_food_classes_1_percent/*
10_food_classes_1_percent.zip
__pycache__/helper_functions.cpython-39.pyc
transfer_learning/*
ten_percent_model_checkpoints_weights/*
101_food_classes_10_percent/*
101_food_classes_10_percent.zip
data/*
101_food_classes_10_percent/*
101_classes_10_percent_data_model_checkpoint.data-00000-of-00001
101_classes_10_percent_data_model_checkpoint.index

