.DS_Store
*/.DS_Store

.venv
.ipynb_checkpoints
.ipynb_checkpoints/
best_model_SavedModel_format/*
data/insurance.csv
model.png
pizza_steak.zip
pizza_steak/*
10_food_classes_all_data.zip
10_food_classes_all_data/*
__MACOSX/*
03-*.jpeg
saved_model11/*
10_food_classes_10_percent.zip
10_food_classes_10_percent/*
tensorflow_hub/*
